
@{
    ViewBag.Title = "_MenubarPartial";
}


<ul class="nav navbar-nav">

    <li>@Html.ActionLink("Home", "Index", "Home")</li> 
    <li> @Html.ActionLink("About","About","Home") </li>
    @*<li>@Html.ActionLink("User Basic Info", "Index","UserBasicInfo")</li> 
    <li>@Html.ActionLink("User Lived Info", "Index","UserLivedInfo")</li> 
    <li>@Html.ActionLink("User Work & Study Info", "Index","UserWorkAndStudyInfo")</li>*@   

</ul>

